:root {
  --topbar-clr: #041C32;
  --sidebar-clr: #04293A;
  --btn-clr: #064663;
  --fnt-clr: #ECB365;

  --bs: 0 0 15px rgba(0, 0, 0, 0.2);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 14px/16px Arial, Helvetica, sans-serif;
}

select {
  scrollbar-width: none;
  /*For Firefox*/
  ;
  -ms-overflow-style: none;
  /*For Internet Explorer 10+*/
  ;
}

select:-webkit-scrollbar {
  /*For WebKit Browsers*/
  width: 0;
  height: 0;
}

button {
  background-color: var(--btn-clr);
  color: var(--fnt-clr);
  border: none;
  box-shadow: var(--bs);
  padding: 8px 8px;
}

input {
  background-color: var(--btn-clr);
  color: var(--fnt-clr);
  border: none;
  box-shadow: var(--bs);
  padding: 8px 8px;
  width: 100%
}

.topbar {
  top: 0;
  height: 62px;
  width: 100%;
  background-color: var(--topbar-clr);
  position: fixed;
  z-index: 1000;
  box-shadow: var(--bs);
  align-items: center;
  display: flex;
}

.topbar h2 {
  margin-left: 18px;
  color: var(--fnt-clr);
}

#map {
  height: 100%;
}

.sidebar {
  height: 100%;
  width: 250px;
  transform: translateX(-100%);
  position: fixed;
  z-index: 1000;
  top: 62px;
  left: 0;
  color: var(--fnt-clr);
  background-color: var(--sidebar-clr);
  transition: 0.5s;
}

.sidebar.active {
  transform: translateX(0);
}

.sidebar-toggle {
  left: 100%;
  position: absolute;
  padding: 16px 16px;
  background-color: var(--btn-clr);
  border: none;
  color: var(--fnt-clr);
  cursor: pointer;
}

#userInterface {
  left: 10px;
  top: 10px;
  right: 10px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  position: absolute;
  box-shadow: var(--bs);
  padding: 6px 8px;
  border-radius: 5px;
}

#submitBtn {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%
}

.track-input {
  display: flex;
  width: 100%;
}

#trackIMO {
  width: 100%;
}

.info {
  padding: 6px 8px;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: var(--bs);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.track-btn {
  display: flex;
  margin-top: 10px;
}

#startTrackBtn,
#stopTrackBtn {
  width: 80%;
}

#stopTrackBtn {
  margin-left: 10px;
}

.loader {
  display: none;
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #3498db;
  width: 15px;
  height: 15px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  margin-left: 10px;
}

.loader.active {
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.section-header {
  display: flex;
  align-items: center
}

.countryList,
.countryList option {
  background-color: var(--btn-clr);
  color: var(--fnt-clr);
  padding: 8px 8px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
}